<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dashboard </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color:lightgrey; font-family: Arial, Helvetica, sans-serif;">
    <div class="container-fluid">
        <div class="row justify-content-center">

             <!-- A separate div to separate the nav bar/header to the content, by k -->
            <div class="w-100"style="width: 100px; padding: 20px;">
                <div id="logo d-flex align-items-center" style="float: left;">
                    <img src="/imageFiles/Fury.png" alt="Fury Logo" width="100" height="100" style="float: left;">
                </div>

                <!-- two additional buttons, can you implement the pathways for this?  -->
                 <!-- <button type="submit" name="buttonValue" value="LogOut"  style="width: 100px; height: 100px; background:transparent; border: transparent; float: right;">
                    <img src="/imageFiles/logout.png" alt="logOutIcon" width="30px" height="30px">
                    <br>
                    Log Out</button>

                <button type="submit" name="buttonValue" value="LogOut"  style="width: 100px; height: 100px; background:transparent; border: transparent; float: right;">
                    <img src="/imageFiles/home.png" alt="homeIcon" width="35px" height="35px">
                    <br>
                   Home</button> -->

                   <form action="/admin/buttonClicked" method="POST">
                    <div class="" style=" padding: 10px;">
                        <div id="icons" class="text-center" style="float: right;"> 
                            <button type="submit" name="buttonValue" value="back"  style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/home.png" alt="homeIcon" width="35px" height="35px">
                                <br>
                               Home</button>
                            
                        
                               <button type="submit" name="buttonValue" value="trend"  style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/statistic.png" alt="homeIcon" width="35px" height="35px">
                                <br>
                               Trends</button>

                               <button type="submit" name="buttonValue" value="announcement"  style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/announcement.png" alt="logOutIcon" width="30px" height="35px">
                                <br>
                                Announcement</button>

                               <button type="submit" name="buttonValue" value="LogOut"  style="width: 100px; height: 100px; background:transparent; border: transparent; ">
                                <img src="/imageFiles/logout.png" alt="logOutIcon" width="32px" height="35px">
                                <br>
                                Log Out</button>

                                
                        </div>
                    </div>
                </form>
            </div> 

            <div class="col-md-8" style="padding: 20px;">

               
            
                <br>
                <br>


                <!-- Please modify the style only :] -->
                <!-- mapping function in UserController.java  -->
                <form action="/admin/buttonClicked" method="POST">
                    <!-- div purpose: For identifying the user identity -->
                    <div>
                        <input id="uid" name="uid" th:value="${uid}" hidden>
                    </div>
                    <div style="margin: auto; padding: 20px; width: 80%">
                        <input id="currentPage" name="currentPage" value="1" hidden>
                        <button class="btn btn-secondary btn-md btn-block active" type="submit" name="buttonValue" value="Inbox" style="background-color: black; height: 150px; font-size: 50px;">
                            <div style="float: left;">
                                <img src="/imageFiles/adminInbox.png" alt="messageIcon" width="120px" height="120px">
                                View messages
                            </div>
                        </button>

                        <br>
                        <br>

                        <button class="btn btn-secondary btn-md btn-block active" type="submit" name="buttonValue" value="playerDatabase" style="background-color: black; height: 150px; font-size: 50px;">
                            <div style="float: left;">
                                <img src="/imageFiles/databaseIcon.png" alt="databaseIcon" width="120px" height="120px">
                                Players Database
                            </div>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>


</html>