<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Announcement </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/contactAdmin.css">
    </head>
<body style="background-color:lightgrey;font-family:Arial, Helvetica, sans-serif">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="w-100"style="width: 100px; padding: 20px;">
                <div id="logo d-flex align-items-center" style="float: left;">
                    <img src="/imageFiles/Fury.png" alt="Fury Logo" width="100" height="100" style="float: left;">
                </div>

                <!-- two additional buttons, can you implement the pathways for this?  -->
                 <!-- <button type="submit" name="buttonValue" value="LogOut"  style="width: 100px; height: 100px; background:transparent; border: transparent; float: right;">
                    <img src="/imageFiles/logout.png" alt="logOutIcon" width="30px" height="30px">
                    <br>
                    Log Out</button>

                <button type="submit" name="buttonValue" value="LogOut"  style="width: 100px; height: 100px; background:transparent; border: transparent; float: right;">
                    <img src="/imageFiles/home.png" alt="homeIcon" width="35px" height="35px">
                    <br>
                   Home</button> -->

                   <form action="/admin/buttonClicked" method="POST">
                    <div class="" style=" padding: 10px;">
                        <div id="icons" class="text-center" style="float: right;"> 
                            <button type="submit" name="buttonValue" value="back"  style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/home.png" alt="homeIcon" width="35px" height="35px">
                                <br>
                               Home</button>
                            
                        
                               <button type="submit" name="buttonValue" value="trend"  style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/statistic.png" alt="homeIcon" width="35px" height="35px">
                                <br>
                               Trends</button>

                               <button type="submit" name="buttonValue" value="announcement"  style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/announcement.png" alt="logOutIcon" width="30px" height="35px">
                                <br>
                                Announcement</button>

                               <button type="submit" name="buttonValue" value="LogOut"  style="width: 100px; height: 100px; background:transparent; border: transparent; ">
                                <img src="/imageFiles/logout.png" alt="logOutIcon" width="32px" height="35px">
                                <br>
                                Log Out</button>

                                
                        </div>
                    </div>
                </form>
            </div> 

            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            
          
        </div>
        
        <br>

        <div class="row justify-content-center">
            <div class="col-md-6">
                
                <!-- changed html code to correspond with css, by k, commenting because can be returned if error is present -->
                <form action="/admin/announcement" method="post">

                    <div class="form-group">
                        <p style="font-size: 25px;">Subject</p>
                        <input id="subject" name="subject" placeholder="Type Here">
                    </div>
                    <div class="form-group" style="font-size: 25px;">
                        <p style="font-size: 25px;">Message</p>
                        <textarea id="content" name="content" placeholder="Type your message"></textarea>
                    </div>
                    <br>
                    <br>

                    <div class="text-center">
                        <input id="sendButton" class="btn rounded-0" type="submit" value="Send"></input>
                    </div>
                    
               
                </form>	

                <!-- Commented this part because display of returning to user css want to be changed as a nav bar, by k -->
                <!-- mapping function in UserController.java  -->
                <!-- <form action="/user/buttonClicked" method="POST">
                    <div class="text-center">
                        <p th:text="${feedback}"></p>
                        <button class="btn btn-dark btn-md" type="submit" name="buttonValue" value="back">Return to User Center</button>
                        <input id="uid" name="uid" th:value="${uid}" hidden>
                    </div>
                </form> -->
            </div>

            
        </div>

    
    </div>

</body>
</html>