<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Leave your comment! </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/contactAdmin.css">
    </head>
<body style="background-color:lightgrey;font-family:Arial, Helvetica, sans-serif">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="" style="width:100%">
                <!-- Added new nav bar and update css By: K -->
                <form action="/user/buttonClicked" method="POST">
                    <!-- div purpose: For identifying the user identity -->
                    <div>
                        <input id="uid" name="uid" th:value="${uid}" hidden>
                    </div>

                    <div class="" style=" padding: 20px;">
                        <div id="logo" style="float: left">
                            <img src="/imageFiles/fury.png" alt="Fury Logo" width="100" height="100" style="float: left;">
                        </div>

                        <div id="icons" style="float: right;"> 
                            <button type="submit" name="buttonValue" value="Home" style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/home.png" alt="homeIcon" width="30px" height="30px">
                                <br>
                                Home
                            </button>

                                <input id="currentPage" name="currentPage" value="1" hidden>
                            <button type="submit" name="buttonValue" value="Inbox" style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/mail.png" alt="mailIcon" width="40px" height="30px">
                                <br>
                                Inbox
                            </button>
                            <button type="submit" name="buttonValue" value="Statistic" style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/statistic.png" alt="statisticIcon" width="30px" height="30px">
                                <br>
                                Statistic
                            </button>
                            <button type="submit" name="buttonValue" value="Ladder" style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/leaderboard.png" alt="statisticIcon" width="33px" height="33px">
                                <br>
                                Leaderboard
                            </button>
                            <button type="submit" name="buttonValue" value="ContactUs" style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/phone.png" alt="phoneIcon" width="30px" height="30px">
                                <br>
                                Contact Us
                            </button>
                            <button type="submit" name="buttonValue" value="Setting" style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/settings.png" alt="settingsIcon" width="30px" height="30px">
                                <br>
                                Setting
                            </button>
                                <!-- Added user logout, by: k. will comment this down for now, just uncomment when you finished editing the code -->
                            <button type="submit" name="buttonValue" value="LogOut"  style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/logout.png" alt="logOutIcon" width="30px" height="30px">
                                <br>
                                Log Out
                            </button>
                        </div>
                    </div>
                </form>


            </div>

            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            
          
        </div>
        
        <br>

        <div class="row justify-content-center">
            <div class="col-md-6">
                
                <!-- changed html code to correspond with css, by k, commenting because can be returned if error is present -->
                <!-- mapping function in UserController.java  -->
                <form action="/userSendMsg" method="post">
                    <!-- <p>Subject</p>
                    <input id="subject" name="subject" placeholder="Type Here">
                    <br>
                    <br> -->
                    <!-- <p>Message</p>
                    <input id="msg" name="content" placeholder="Type your message">
                    <br> -->
                    <div class="form-group">
                        <p style="font-size: 25px;">Subject</p>
                        <input id="subject" name="subject" placeholder="Type Here">
                    </div>
                    <div class="form-group" style="font-size: 25px;">
                        <p style="font-size: 25px;">Message</p>
                        <textarea id="content" name="content" placeholder="Type your message"></textarea>
                    </div>

                    
                    <medium>Leave your comment or bug report here. Message will be send directly to the admin's account. An admin will respond to you within the next 2-3 days. If you have any further inquiry, send an email to <a href="mailto:ilovemygroup123@gmail.com" style="color:darkslategrey">ilovemygroup123@gmail.com</a></medium>
                   
                    <br>

                    <!-- To identify the user identity -->
                    <input id="uid" name="uid" th:value="${uid}" hidden>
                   
                    <br>

                    <div class="text-center">
                        <input id="sendButton" class="btn rounded-0" type="submit" value="Send"></input>
                    </div>
                    
               
                </form>	

                <!-- Commented this part because display of returning to user css want to be changed as a nav bar, by k -->
                <!-- mapping function in UserController.java  -->
                <!-- <form action="/user/buttonClicked" method="POST">
                    <div class="text-center">
                        <p th:text="${feedback}"></p>
                        <button class="btn btn-dark btn-md" type="submit" name="buttonValue" value="back">Return to User Center</button>
                        <input id="uid" name="uid" th:value="${uid}" hidden>
                    </div>
                </form> -->
            </div>

            
        </div>

    
    </div>

</body>
</html>