<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> stat </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/statistics.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>

<body style="background-color:lightgrey; font-family: Arial, Helvetica, sans-serif;">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="" style="width:100%">
                <!-- Added new nav bar and update css By: K -->
                <form action="/user/buttonClicked" method="POST">
                    <!-- div purpose: For identifying the user identity -->
                    <div>
                        <input id="uid" name="uid" th:value="${uid}" hidden>
                    </div>

                    <div class="" style=" padding: 20px;">
                        <div id="logo" style="float: left">
                            <img src="/imageFiles/fury.png" alt="Fury Logo" width="100" height="100" style="float: left;">
                        </div>

                        <div id="icons" style="float: right;"> 
                            <button type="submit" name="buttonValue" value="Home" style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/home.png" alt="homeIcon" width="30px" height="30px">
                                <br>
                                Home</button>
                            <button type="submit" name="buttonValue" value="Inbox" style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/mail.png" alt="mailIcon" width="40px" height="30px">
                                <br>
                                Inbox</button>
                            <button type="submit" name="buttonValue" value="Statistic" style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/statistic.png" alt="statisticIcon" width="30px" height="30px">
                                <br>
                                Statistic</button>
                            <button type="submit" name="buttonValue" value="ContactUs" style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/phone.png" alt="phoneIcon" width="30px" height="30px">
                                <br>
                                Contact Us</button>
                            <button type="submit" name="buttonValue" value="Setting" style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/settings.png" alt="settingsIcon" width="30px" height="30px">
                                <br>
                                Setting</button>
                                <!-- Added user logout, by: k. will comment this down for now, just uncomment when you finished editing the code -->
                            <button type="submit" name="buttonValue" value="LogOut"  style="width: 100px; height: 100px; background:transparent; border: transparent;">
                                <img src="/imageFiles/logout.png" alt="logOutIcon" width="30px" height="30px">
                                <br>
                                Log Out</button>
                        </div>

                        
                        
                    </div>
                </form>
            </div>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <!-- By A: This div contains all the statistic -->
                <div class="row justify-content-center">
                    <a th:text="${userRecords}" id="userRecords" hidden></a>
                    <a th:text="${recordSize}" id="recordSize" hidden></a>
                    <div class="justify-content-center text-center" style="padding: 20px;width: 80%;">
                        <h2>Statistic</h2>
                        <medium>as measured as WPM (words per minute)</medium>
                    </div>
                    
                    <div class="d-flex justify-content-center" style="padding-top: 20px;width: 80%;">
                        <p id="title2" >Last 10 Games</p>
                    </div>
                    <div class="d-flex justify-content-center" style="border: solid 1px black; padding: 20px;width: 80%;">
                        <canvas id="lineChart" style="width: 80%; height: 80%;"></canvas>
                        <script>  
                            const data = document.getElementById('userRecords').textContent.split(",").map(Number);
                            const recordSize=Number(document.getElementById('recordSize').textContent);
                            const labels = [];
                            for (let i = 1; i <= recordSize; i++) {
                                labels.push("Game "+i);
                            }
                            const ctx = document.getElementById('lineChart').getContext('2d');
                            const chart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                    label: 'WPM',
                                    data: data,
                                    fill: false,
                                    borderColor: 'rgb(75, 192, 192)',
                                    tension: 0.1
                                    }]
                                },
                                options: {
                                    // Customize chart options as needed
                                }
                            });
                        </script>
                    </div>

                    <!-- Restructured without code change, for css purposes by k -->
                    <div id="summary" class="container text-center" style="padding: 20px; width: 100%;">
                        <div class="row"> 
                            <div class="col-sm">
                                <a>Average speed: </a>
                                <a th:text="${avgRecord}"></a>
                            </div>
                            <div class="col-sm">
                                <a>Best speed: </a>
                                <a th:text="${bestRecord}"></a>
                            </div>
                            <div class="col-sm">
                                <a>Number of games played: </a>
                                <a th:text="${recordSize}"></a>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="d-flex justify-content-center" style="border: solid 1px black; padding: 20px;width: 80%;">
                        <a>Average speed: </a>
                        <a th:text="${avgRecord}"></a>
                    </div>
                    <div class="d-flex justify-content-center" style="border: solid 1px black; padding: 20px;width: 80%;">
                        <a>Best speed: </a>
                        <a th:text="${bestRecord}"></a>
                    </div>
                    <div class="d-flex justify-content-center" style="border: solid 1px black; padding: 20px;width: 80%;">
                        <a>Number of games played: </a>
                        <a th:text="${recordSize}"></a>
                    </div> -->
                </div>
                <!-- End of stat div :D -->
                
            </div>
            
        </div>
    </div>
    <form action="/user/buttonClicked" method="POST">
        <div style="padding: 20px;" class="text-center">
            <button class="btn btn-dark btn-md" type="submit" name="buttonValue" value="back">Return to User Center</button>
            <!-- To identify the user identity -->
            <input id="uid" name="uid" th:value="${uid}" hidden>
        </div>
    </form>

</body>


</html>
